* {
    box-sizing: border-box;
}

body, p, h2, h3, a  {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color:#FFFFFF;
}

.info {
   display: flex;
   justify-content: space-between;
   margin-top: 40px; 
}

.tools {
    display: flex;
    align-items: center;
}

.call-item .call {
    color: #000;
    font-family: Gilroy;
    font-size: 18px;
    line-height: normal;
    text-decoration: none;
  
}

.wrapper {
    width: 1320px;
    margin-right: auto;
    margin-left: auto;
}

.cart {
    margin-left: 60px;
    margin-right: 20px;
    display: flex;
}

.cart p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    background-color: green;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    align-items: center;
    margin-bottom: 46px;
}

.navigation nav {
    display: flex;
    gap: 40px;
}

main {
    background-color: #F9F9F9;
    padding-top: 75px;
    padding-bottom: 100px;
}

.link {
    color: #4F4F4F;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 345px;
    height: 54px;
    border-radius: 10px;
    border: 1px solid  #BDBDBD;
    background-color: #F2F2F2;
}

.search img {
    padding: 2.573px 2.5px;
}

article {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
    gap: 25px;
    border-radius: 20px;
    border: 1px solid  #F2F2F2;
    background-color: #F9F9F9;
    box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.05), -8px -8px 15px 0px #FFF;
    width: 315px;
}

.weight {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.foto-feed {
    border-radius: 5px;
}

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed-title h2 {
    color:  #333;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    width: 275px;
}

.feed-title p {
    color:  #828282;
    font-family: Gilroy;
    font-size: 16px;
    line-height: 130%;
    margin-top: 5px;
}

.price {
    color: #333;
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.weight p {
    color:  #4F4F4F;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.weight p:nth-child(1) {
    border-radius: 5px;
    border: 1px solid #3ECF5E;
    padding: 4px 12px;
}

.button-more {
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid rgba(5, 175, 52, 0.53);
    background-color: #3FCF5E;
    padding: 12px 32px;
    text-decoration: none;
}

.more a:nth-child(2) {
    border-radius: 10px;
    border: 1px solid  #BDBDBD;
    padding: 11px 11px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pages {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}

.pages a {
    color: var(--Gray-3, #828282);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

footer {
    background: #333;
    padding-top: 100px;
    padding-bottom: 130px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.pay {
    display: flex;
    gap: 47px;
}

.pay a {
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.media {
    display: flex;
    gap: 20px;
}

.call-item {
    display: flex;
    align-items: center;
    gap: 9px;
}

.call-item a {
    color:  #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.catalog {
    display: flex;
    gap: 15px;
    align-items: center;
}

.catalog p {
    color:  #BDBDBD;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.back {
    display: flex;
    gap: 4px;
    margin-top: 30px;
    align-items: center;
    margin-bottom: 44px;
}

.back {
    color: #333;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}


